.wrapper{
    position: relative;
    background-color: #ccc;
    width: 230px;
    padding: 5px 15px;
    max-height: 600px;
    overflow-y: auto;
}
// menu-slideBar
.menu-slideBar{
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    &:hover{
        background-color: red;
    }
    .icon{
        width: 40px;
        font-size: 20px;
    }
    .title{
        font-size: 14px;
        margin-left: 30px;
    }
}