.wrapper-slideBar{
    position: relative;
    width: 10%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper-slideBar1{
    position: absolute;
    top: 0;
    width: 250px;
    background-color: #ccc;
    z-index: 1000;
}
.box-menu{
    position: relative;
    .select-menu{
        position: relative;
        top: -200px;
    }
}
